* {box-sizing:border-box;}
body {
    background-color: #CCC;
    font-family: "Open Sans";
}

.bgimg {
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    z-index:-1;
    opacity:1;
}

.center {
    text-align: center;
}

.header {
    font-size: 60px;
    color: black;
}

.header.center {
    margin-bottom: 30px;
}

.greeting {
    color:black;
    text-shadow: 1px 1px 3px rgba(255,255,255, .5);
    text-align: center;
}

.col-md-4.col-md-push-1 {
    margin-top: 40px;
    background-color: rgba(255,255,255,0.7);

}

.col-md-5.col-md-offset-1 {
    margin-top: 40px;
    background-color: rgba(255,255,255,0.7);
}

.article-list {
    margin: 0;
    padding: 0;
}

.article {
    list-style-type: none;
    padding:10px;
    border-top: 1px solid #CCC;
}
.article:first-child {
    border-top:none;
}